<!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Add Vehicle</title>
    </head>
    <body>
        <button onclick = "history.back()">Go Back</button></p>
        <form method="POST" action="{{ url_for('search_customer') }}">
            <label for="SSN_TIN">Search Customer by SSN or TIN:</label>
                <input type="text" id="SSN_TIN" name="SSN_TIN" placeholder="SSN_TIN" required>
                <button type="search">Search</button>
                <br><br>
        </form>

        <h2>Add Vehicle</h2>

        <form method="POST" action="{{ url_for('add_vehicle') }}">
            <label for="SSN_TIN">Customer's SSN or TIN:</label>
                <input type="text" id="SSN_TIN" name="SSN_TIN" placeholder="SSN_TIN" required>
                <br><br>

            <label for="vin">VIN:</label>
            <input type="text" id="vin" name="vin" required>
            <br><br>
            <label for="model_year">Model Year:</label>
            <select name="model_year">
                <option value="">Select Model Year</option>
                {% for year in model_years %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
            <br><br>
            <label for="model_name">Model Name:</label>
            <input type="text" id="model_name" name="model_name" required>
            <br><br>
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" required>
            <br><br>
            <label for="horsepower">Horsepower:</label>
            <input type="text" id="horsepower" name="horsepower" required>
            <br><br>
            <label for="fuel_type">Fuel Type:</label>
            <select name="fuel_type">
                <option value="">Select Fuel Type</option>
                {% for ft in results['fuel_types'] %}
                    <option value="{{ ft }}">{{ ft }}</option>
                {% endfor %}
            </select>
            <br><br>
            <label for="vehicle_type">Vehicle Type:</label>
            <select name="vehicle_type">
                <option value="">Select Vehicle Type</option>
                {% for vt in results['vehicle_types'] %}
                    <option value="{{ vt }}">{{ vt }}</option>
                {% endfor %}
            </select>
            <br><br>
            <label for="manufacturer">Manufacturer:</label>
            <select name="manufacturer">
                <option value="">Select Manufacturer</option>
                {% for m in results['manufacturers'] %}
                    <option value="{{ m }}">{{ m }}</option>
                {% endfor %}
            </select>
            <br><br>
            <label for="vehicle_condition">Vehicle Condition:</label>
            <select name="vehicle_condition">
            <option value="">Select a Vehicle Condition</option>
            <option value="Excellent">Excellent</option>
            <option value="Very Good">Very Good</option>
            <option value="Good">Good</option>
            <option value="Fair">Fair</option>
            </select>
            <br><br>
            <label for="color">Color:</label>
            <input type="text" id="color" name="color" required>
            <br><br>

            <label for="purchaseprice">Purchase Price:</label>
            <input type="text" id="purchaseprice" name="purchaseprice" required>
            <br><br>
            <label for="purchasedate">Purchase Date:</label>
            <input type="date" id="purchasedate" name="purchasedate" required>
            <br><br>


            <button type="submit">Add Vehicle</button>
        </form>
        <p><a href="/">Log out</a></p>
    </body>
    </html>
