<!doctype html>
    <html lang="en">
    <head>
        <title>Vehicle Detail</title>
        <style>
            .center {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                padding: 20px;
            }
            .results-table {
                width: 80%;
                margin-top: 20px;
                border-collapse: collapse;
            }
            .results-table, .results-table th, .results-table td {
                border: 1px solid;
                padding: 10px;
                text-align: left;
                border-collapse: collapse;
            }
            .results-table th {
                background-color: #f2f2f2;
            }
        </style>
    </head>
    <body>
        <p><a href="{{ url_for('logout') }}">Logout</a></p>
        <div class="center">
            <h2>Vehicle Details</h2>
            <a href="/"><button>Back to Main Menu</button></a>
            {% if not detail  %}
                <p class='no-results'>No detail found.</p>
            {% endif %}

            {% if user.is_public %}
            <table class="results-table">
                <thead>
                <tr>
                    <th>VIN</th>
                    <th>Vehicle Type</th>
                    <th>Manufacturer</th>
                    <th>Model Name</th>
                    <th>Model Year</th>
                    <th>Fuel Type</th>
                    <th>Colors</th>
                    <th>Horse Power</th>
                    <th>Sale Price</th>
                    <th>Description</th>
        
                </tr>
                </thead>

                <tbody>
                {% for row in detail %}
                <tr>
            
                    <td>{{row.get('vin', 'N/A')}}</td>
                    <td>{{row.get('vehicle_type', 'N/A')}}</td>
                    <td>{{row.get('manufacturer', 'N/A')}}</td>
                    <td>{{row.get('modelname', 'N/A')}}</td>
                    <td>{{row.get('modelyear', 'N/A')}}</td>
                    <td>{{row.get('fueltype', 'N/A')}}</td>
                    <td>{{row.get('colors', 'N/A')}}</td>
                    <td>{{row.get('horsepower', 'N/A')}}</td>
                    <td>{{row.get('saleprice', 'N/A')}}</td>
                    <td>{{row.get('description', 'N/A')}}</td>
                    
                </tr>
                {% endfor %}
                </tbody>
                  
            </table>
            {% endif %}

            {% if user.is_inventory_clerk %}
            <table class="results-table">
                <thead>
                <tr>
                    <th>VIN</th>
                    <th>Vehicle Type</th>
                    <th>Manufacturer</th>
                    <th>Model Name</th>
                    <th>Model Year</th>
                    <th>Fuel Type</th>
                    <th>Colors</th>
                    <th>Horse Power</th>
                    <th>Sale Price</th>
                    <th>Description</th>
                    <th>Purchase Price</th>
                    <th>All parts costs</th>
        
                </tr>
                </thead>

                <tbody>
                {% for row in detail %}
                <tr>
            
                    <td>{{row.get('vin', 'N/A')}}</td>
                    <td>{{row.get('vehicle_type', 'N/A')}}</td>
                    <td>{{row.get('manufacturer', 'N/A')}}</td>
                    <td>{{row.get('modelname', 'N/A')}}</td>
                    <td>{{row.get('modelyear', 'N/A')}}</td>
                    <td>{{row.get('fueltype', 'N/A')}}</td>
                    <td>{{row.get('colors', 'N/A')}}</td>
                    <td>{{row.get('horsepower', 'N/A')}}</td>
                    <td>{{row.get('saleprice', 'N/A')}}</td>
                    <td>{{row.get('description', 'N/A')}}</td>
                    <td>{{row.get('purchaseprice', 'N/A')}}</td>
                    <td>{{row.get('partscost', 'N/A')}}</td>
                </tr>
                {% endfor %}
                </tbody>
                  
            </table>
            {% endif %}
        </div>
    </body>
    </html>

                


    {% if p.get('status', 'N/A') ==   %}
    <td>{{p.get('vin', 'N/A')}}</td>
    <td>{{p.get('vendorpartsnumber', 'N/A')}}</td>
    <td>{{p.get('description', 'N/A')}}</td>
    <td>{{p.get('vendorname', 'N/A')}}</td>
    <td>{{p.get('ordernumber', 'N/A')}}</td>
    <td>{{p.get('unitprice', 'N/A')}}</td>
    <td>{{p.get('quantity', 'N/A')}}</td>

    <td>  
        <select name="status">
            
            
        </select>
    </td>
    <td><a href="update_status.html"><button>Update Status</button></a></td>

{% endif %}
